body {
    background-color: rgb(112, 153, 206);
}

.albums {
    font-weight: bold;  
    text-align: center
}

#album-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}