body {
    background-color: rgb(112, 153, 206);
}

.header {
    text-align: center;
}

.topnav {
    font-weight: bold;  
    text-align: center;
}

h3 {
    text-align: center;
}

.artists{
    font-weight: bold;  
    text-align: center
}

#artist-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

#artist-details {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    /* display: block; */
    width: 2rem;
    height: 1rem;
    background: #000000;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

li {
    text-align: center;
    margin: .2em;
    background-color: white;
    border: solid black 3px;
    border-radius: .5em;
}