. body {
    color:blue;

}

.artists{
    font-weight: bold;  
    text-align: center
}

#artist-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}