body {
    background-color: rgb(112, 153, 206);
}

.artists{
    font-weight: bold;  
    text-align: center
}

#artist-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

#artist-details {
    list-style-type: none;
}