body {
    background-color: rgb(112, 153, 206);
}

.albums {
    font-weight: bold;  
    text-align: center;
}


.artists {
    font-weight: bold;  
    text-align: center;
}

.header {
    text-align: center;
}