{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/album/album.css' %}">

    <title>DjangoMusic</title>
</head>
<body>
    <h2>
        <a href="/">Home</a>
        <a href="/albums">Albums</a>
        <a href="/artists">Artists</a>
    </h2>
    <br>
    <div class="albums">Album Details</a>
        <br>
        <ul id= "album-list">
            <li><img src="{{ album.album_photo }}" alt="{{album.title}}"><br>
                {{ album.title }}<br>
            Artist:<a href="{% url 'artist-detail' album.artist.pk %}">{{album.artist.name}}</a><br>
            {% if album.release_year %}
            Released: {{ album.release_year }}</li>
            {% endif %}
        </ul>    
    </div>
</body>
</html>