{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/album/album.css' %}">

    <title>DjangoMusic</title>
</head>
<body>
    <header class="header">
        <h1>DJANGO MUSIC</h1>
    </header>
    <br>
    <div class="topnav">
        <h2>
        <a href="/">Home</a>
        <a href="">Albums</a>
        <a href="/artists">Artists</a>
        </h2>
    </div>
    <div class="add">
    <h3>
        <a href="/albums/new"class="button">Add Album</a>
        <a href="/artists/new"class="button">Add Artist</a>
    </h3>
    </div>
    <br>
    <div class="albums"><h2>Album Details</h2>
        <br>
        <ul id= "album-list">
            <li><img src="{{ album.album_photo }}" alt="{{album.title}}"><br>
                {{ album.title }}<br>
            Artist:<a href="{% url 'artist-detail' album.artist.pk %}">{{album.artist.name}}</a><br>
            {% if album.release_year %}
            Released: {{ album.release_year }}
            {% endif %} <br><br>
            <a href="{% url 'edit-album' pk=album.pk%}" class="button">Edit Album</a>
            <a href="{% url 'delete-album' pk=album.pk%}" class="button">Delete Album</a><br><br>
            </li>
        </ul>    
    </div>
</body>
</html>