{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/album/artist.css' %}">

    <title>DjangoMusic</title>
</head>
<body>
    <h2>
        <a href="/">Home</a>
        <a href="/albums">Albums</a>
        <a href="">Artists</a>
    </h2>
    <br>
    <div class="artists">Artists
    {% for artist in artists %}
    <ul id= "artist-list">
        <li><a href="{% url 'artist-detail' artist.pk %}">{{artist.name}}</a></li>
        <!-- <li>{{artist.name}} {{ album.title }}</li> -->
    </ul>    
    {% endfor %}
    </div>
    
</body>
</html>

