{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/album/artist.css' %}">

    <title>DjangoMusic</title>
</head>
<body>
    <header class="header">
        <h1>DJANGO MUSIC</h1>
    </header>
    <br>
    <div class="topnav">
        <h2>
        <a href="/">Home</a>
        <a href="/albums">Albums</a>
        <a href="">Artists</a>
        </h2>
    </div>
    <div class="add">    
        <h3>
            <a href="/albums/new"class="button">Add Album</a>
            <a href="/artists/new"class="button">Add Artist</a>
        </h3>
    </div>
    <br>
    <div class="artists"><h2>Artists</h2>
        <ul id= "artist-list">
        {% for artist in artists %}
            <li><br><a href="{% url 'artist-detail' artist.pk %}">{{artist.name}}</a><br><br>
            <a href="{% url 'edit-artist' pk=artist.pk%}" class="button">Edit Artist</a>
            <a href="{% url 'delete-artist' pk=artist.pk%}" class="button">Delete Artist</a><br><br>
            </li>
            {% endfor %}
        </ul>    
    </div>
</body>
</html>

