{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/album/artist.css' %}">

    <title>DjangoMusic</title>
</head>
<body>
    <h2>
        <a href="/">Home</a>
        <a href="/albums">Albums</a>
        <a href="/artists">Artists</a>
    </h2>
    <br>
    <div class="artists">Artist Details
        <ul id="artist-details">Albums
            <br>
            <br>
        {% for album in artist.albums.all %}
        <li><img src="{{ album.album_photo }}" alt="{{album.title}}"><br>
            <a href="{% url 'album-detail' album.pk %}">{{album.title}}</a><br>
            <br>
        </li>
        {% endfor %}
        </ul>     
    </div>
    
</body>
</html>
