{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/album/artist.css' %}">

    <title>DjangoMusic</title>
</head>
<body>
    <header class="header">
        <h1>DJANGO MUSIC</h1>
    </header>
    <br>
    <div class="topnav">
        <h2>
        <a href="/">Home</a>
        <a href="">Albums</a>
        <a href="/artists">Artists</a>
        </h2>
    </div>
    <div class="add">
    <h3>
        <a href="/albums/new"class="button">Add Album</a>
        <a href="/artists/new"class="button">Add Artist</a>
    </h3>
    </div>
    <br>
    <div class="artists"><h2>Artist Details</h2>
        <ul id="artist-details">Albums
        {% for album in artist.albums.all %}
        <li><a href="{% url 'album-detail' album.pk %}"><img src="{{ album.album_photo }}" alt="{{album.title}}"></a><br>
            <a href="{% url 'album-detail' album.pk %}">{{album.title}}</a><br><br>
            <a href="{% url 'edit-album' pk=album.pk%}" class="button">Edit Album</a>
            <a href="{% url 'delete-album' pk=album.pk%}" class="button">Delete Album</a><br><br>
        </li>
        {% endfor %}
        </ul>     
    </div>
    
</body>
</html>
