{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/album/home.css' %}">

    <title>DjangoMusic</title>
</head>
<body>
    <header class="header">
        <h1>DJANGO MUSIC</h1>
    </header>
    <BR>
    <div class="albums">
        <a href="/albums">Albums</a>
    </div>
    
    <div class="artists">
        <a href="/artists">Artists</a>

    <div class="add-artist">
        <a href="/artists/new">Add Artist</a>
    </div>

    <div class="add-album">
        <a href="/albums/new">Add Album</a>


    </div>
</body>
</html>